@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../node_modules/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../node_modules/pretendard/dist/web/static/woff2/Pretendard-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../node_modules/pretendard/dist/web/static/woff2/Pretendard-SemiBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../node_modules/pretendard/dist/web/static/woff2/Pretendard-Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../node_modules/pretendard/dist/web/static/woff2/Pretendard-ExtraBold.woff2")
    format("woff2");
}

:root {
  --font-pretendard: "Pretendard", sans-serif;
  font-family: var(--font-pretendard);
  line-height: 1.4;
  font-weight: 400;
  color: #2b2d42;
  background-color: #f8f9fa;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
button,
input,
textarea,
select,
span,
p,
h1,
h2,
h3 {
  font-family: var(--font-pretendard);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100svh;
  width: 100%;
  touch-action: pan-x pan-y;
}

body {
  background-color: #f8f9fa;
}

p {
  margin: 0;
}
